@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  min-height: 100vh;
  width: 100vw;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #6a1, #257);
  /* Gradient background */
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;

    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;

    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    margin: 0px;
    position: relative;
  }
}

/* Custom dropdown styles */
.custom-dropdown {
  position: relative;
  width: 208px;
  height: 45px;
  border: 1px solid #fff;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.dropdown-header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1000;
  overflow: hidden;
}

.dropdown-options li {
  padding: 10px;
  background-color: transparent;
  color: #000;
}

.dropdown-options li:hover {
  background-color: #fff;
}

.arrow {
  font-size: 12px;
}
.btn-add {
  background-color: #2575fc;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.deleteBtn {
  background-color: #e74c3c;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.deleteBtn:hover {
  background-color: #c0392b;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.defaultBtn {
  background: #6a11cb;
  /* Button color */
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  /* Light border for rows */
}

th {
  background: rgba(255, 255, 255, 0.1);
  /* Header row background */
  color: #fff;
  font-weight: bold;
}

tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.05);
  /* Alternate row shading */
}

tr:hover {
  background: rgba(255, 255, 255, 0.15);
  /* Highlight on hover */
  cursor: pointer;
}

tr input[type="checkbox"]:checked + td {
  background-color: #d11818;
  /* Light gray background for selected rows */
}

.headers {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
}
